/* Custom CSS Styles */
:root {
  --primary-color: #10c3c9;
  --secondary-color: orange;
  --text-color: #141414;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: antiquewhite;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.section-container {
  padding: 100px 15px;
}

p {
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 20px 0;
  font-family: var(--primary-font);
}

.btn-button {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 9px 16px;
  background: var(--secondary-color);
  border-radius: 5px;
}

.btn-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.6s ease;
}

a.top-link {
  text-align: center;
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
  color: blueviolet;
  padding: 10px 0;
}

.top-link:hover {
  color: var(--text-color);
  transition: all 0.6s ease;
}

/* Header CSS Styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

h3.logo {
  text-transform: math-auto;
  font-size: 2rem;
  padding: 30px;
  font-family: var(--primary-font);
}

h3 span.logo-span {
  color: var(--primary-color);
  font-size: 2.2rem;
}

.position-sticky {
  border-radius: 10px;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav ul.navbar {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

nav ul li.nav-items {
  margin: 0px 15px;
  padding: 3px 12px;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li.nav-items:hover {
  color: var(--text-color);
  transition: all 0.6s ease;
}

.nav-item-active {
  color: var(--text-color);
}

.sign-in-up {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.section-header {
  text-transform: capitalize;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  color: var(--text-color);
  margin: 50px 0;
}

.section-header::after {
  content: '';
  display: block;
  width: 120px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 15px auto 0;
  border-radius: 2px;
}

.unique-span {
  color: var(--primary-color);
  font-size: 1.3em;
}

/* Home Page */
.bg-image {
  position: relative;
  background-image: url('../images/banner-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.bg-image::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--text-color);
}

.home-content h1.section-title {
  color: darkcyan;
  font-weight: 800;
  font-size: 4rem;
  text-transform: capitalize;
}

p.section-desc {
  margin: 20px auto 40px;
  text-align: center;
  width: 700px;
}

/* Home Page Call to Action */
.home-cta {
  text-align: center;
  color: white;
}

/* Home Page Features */
.home-features {
  padding-top: 0;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 15px;
  text-align: center;
}

.feature-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 20px auto;
}

/* About Us Page */
.about-hero,
.about-mission {
  padding-bottom: 0;
}

.about-container,
.mission-container,
.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-hero-image,
.mission-icon,
.team-icon {
  width: 400px;
  height: 400px;
}

.about-hero-text-container h3,
.mission-text-container h3,
.team-text-container h3 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

p.about-desc {
  text-align: left;
  margin-left: 0;
}

/* Features Page */
.features-header {
  padding-bottom: 0;
}

.section-btn-container {
  text-align: center;
  margin-top: 30px;
}

.main-features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 15px;
}

.main-feature-item {
  text-align: left;
  background-color: #f0f9f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 black;
}

.img-left {
  margin: 20px 0;
}

.feature-title {
  font-size: 1.7rem;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* Pricing Plans Page */
.popular-plan {
  position: relative;
  padding-top: 30px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid blueviolet;
  border-top: none;
  z-index: 1;
}

span.popular-card {
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px 10px 0px 0px;
  font-size: 1rem;
  font-weight: bold;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 0;
}

.pricing-card {
  background-color: #f0f9f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 black;
  width: 300px;
}

.pricing-header {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 20px 0;
}

.pricing-card:hover {
  box-shadow: 4px 4px 10px 0 black;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.pricing-plan-title {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.pricing-features li {
  text-align: left;
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 300;
}

.upgrade-btn {
  background-color: blueviolet;
  color: #f0f9f3;
  margin-bottom: 20px;
  width: 100%;
}

.upgrade-btn:hover {
  background-color: rgb(106, 28, 179);
  color: white;
  transition: all 0.6s ease;
}

/* Contact Page */
.contact-form {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 50px;
  padding: 50px 0;
}

.contact-title {
  margin: 30px 0;
  font-size: 2rem;
  color: var(--text-color);
}

.contact-desc {
  text-align: center;
  font-size: 1.1rem;
  width: 700px;
  margin: 0 auto 30px;
  color: var(--text-color);
}

.form-container {
  background-color: #f0f9f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 black;
  margin: 0 auto;
}

.form-container:hover {
  box-shadow: 4px 4px 10px 0 black;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.direct-contact-desc {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
}

a.contact-links {
  color: var(--text-color);
  font-weight: 500;
}

a.contact-links:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in;
}

label {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 600;
}

input[type='text'],
input[type='email'],
textarea {
  width: 450px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
}

/* Footer Styles */
.footer {
  margin: 0;
  padding: 75px 0;
  background-color: var(--text-color);
}

.footer p {
  text-align: center;
  color: antiquewhite;
}

/* -----------------------------------
<<<<-----  Responsive Design ----->>>>
------------------------------------ */

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
  html {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  .section-container {
    padding: 50px 15px;
    margin: 0 15px;
  }

  .btn-button {
    padding: 5px 11px;
  }

  /* Header Section */
  h3.logo {
    font-size: 1.3rem;
    padding: 15px;
  }

  .header-container {
    flex-direction: column;
  }

  nav ul.navbar {
    flex-direction: column;
  }

  nav ul.navbar {
    margin-top: 0;
  }

  nav ul li.nav-items {
    margin: 0;
  }

  /* Home Page */
  .home-content h1.section-title {
    font-size: 2rem;
    padding: 20px 0;
  }

  p.section-desc {
    width: 70%;
  }

  .features-container {
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
  }

  /* About Us Page */
  .about-hero,
  .about-mission {
    padding-bottom: 0;
  }

  .about-hero-image,
  .mission-icon,
  .team-icon {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .about-hero-text-container h3,
  .mission-text-container h3,
  .team-text-container h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  p.about-desc {
    text-align: center;
    margin: 0 auto;
  }

  /* Features page */
  .main-features-container {
    grid-template-columns: 1fr;
  }

  /* Pricing Plans Page */
  .pricing-plans {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    margin-bottom: 30px;
  }

  /* Contact Page */
  .section-header {
    font-size: 2rem;
    margin: 30px 0;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    width: 300px;
  }

  .contact-desc {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  html,
  p {
    font-size: 1rem;
  }

  .section-container {
    padding: 50px 15px;
    margin: 0 15px;
  }

  .btn-button {
    padding: 6px 13px;
  }

  h3.logo {
    font-size: 1.5rem;
    padding: 20px;
  }

  .header-container {
    flex-direction: column;
  }

  nav ul.navbar {
    margin-top: 0;
  }

  nav ul li.nav-items {
    margin: 0;
  }

  /* Home page */
  .home-content h1.section-title {
    font-size: 2.5rem;
    padding: 20px 0;
  }

  p.section-desc {
    width: 80%;
  }

  .features-container {
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
  }

  /* About Us Page */
  .about-hero,
  .about-mission {
    padding-bottom: 0;
  }

  .about-hero-image,
  .mission-icon,
  .team-icon {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .about-hero-text-container h3,
  .mission-text-container h3,
  .team-text-container h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  p.about-desc {
    text-align: center;
    margin: 0 auto;
  }

  /* Features page */
  .main-features-container {
    grid-template-columns: 1fr;
  }

  /* Pricing Plans Page */
  .pricing-plans {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    margin-bottom: 30px;
  }

  /* Contact Page */
  .section-header {
    font-size: 2.2rem;
    margin: 30px 0;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    width: 300px;
  }

  .contact-desc {
    font-size: 1rem;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html,
  p {
    font-size: 1rem;
  }

  .btn-button {
    padding: 7px 15px;
  }

  .header-container {
    padding: 80px 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul.navbar {
    gap: 0;
  }

  h3.logo {
    font-size: 1.5rem;
    padding: 20px;
  }

  /* Home Page */
  .home-content h1.section-title {
    font-size: 3rem;
    padding: 25px 0;
  }

  p.section-desc {
    width: 90%;
  }

  .features-container {
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
  }

  /* About Us Page */
  .about-hero,
  .about-mission {
    padding-bottom: 0;
  }

  .about-hero-image,
  .mission-icon,
  .team-icon {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .about-hero-text-container h3,
  .mission-text-container h3,
  .team-text-container h3 {
    font-size: 1.7rem;
    text-align: center;
  }

  p.about-desc {
    text-align: center;
    margin: 0 auto;
  }

  /* Features page */
  .main-features-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Contact Page */
  .contact-form {
    margin: 0 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .btn-button {
    padding: 8px 17px;
  }

  h3.logo {
    font-size: 1.5rem;
    padding: 20px;
  }

  nav ul li.nav-items {
    margin: 0px 15px;
    padding: 3px 7px;
  }
}
